<div class="container border p-1 position-relative max-sm-1">
  <nav class="navbar navbar-expand bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link disabled pt-0 pb-0" aria-current="page" href="#">Stats</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link pt-0 pb-0" href="#" data-bs-toggle="modal" data-bs-target="#yesterdayAnswers">Yesterday</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle pt-0 pb-0" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#howToPlayDialog">How to play</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#rankingsDialog">Rankings</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row justify-content-center pt-2 pb-2 ms-3 me-3" >
    <div class="col-auto gx-0" style="font: bold 14px Verdana, sans-serif">{{gameService.getLevelName()}}</div>
    <div class="col gx-2">
      <div class="progress" >
        <div #progressBar class="progress-bar progress-bar-striped bg-warning" role="progressbar" [style.width]="gameService.getProgress() | percent"
             [attr.aria-valuenow]="gameService.points" aria-valuemin="0" [attr.aria-valuemax]="gameService.model.maxPoints"><strong>{{gameService.points}}</strong></div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center ms-3 me-3">
    <div class="btn-group col">
      <button #dropDown class="btn btn-light btn-outline-warning btn-sm dropdown-toggle fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false"
              [disabled]="gameService.inputWords.length===0">
        {{dropDown.ariaExpanded ? dropDownText : 'You have found ' + this.gameService.inputWords.length + ' words'}}
      </button>
      <ul class="dropdown-menu">
        <li *ngFor="let word of gameService.inputWords" class="dropdown-item-text">{{word}}</li>
      </ul>
    </div>
  </div>
  <form #inputForm (ngSubmit)="submitWord(inputWord.value); inputForm.reset();">
    <div class="row justify-content-center gx-0">
      <input #inputWord type="text" class="input-word" id="inputWord" name="inputWord" placeholder="Type or click" required>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <svg width="257px" xmlns:xlink="http://www.w3.org/1999/xlink"
             height="290px" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">
          <a routerLink="" (click)="addLetter(inputWord, gameService.model.centerChar)" class="letter-button">
            <polygon fill="#f7e561" points="76.88,139.77 100.88,98.2 148.88,98.2 172.88,139.77
              148.88,181.44 100.88,181.44" stroke="none"/>
            <text x="126" y="153" class="game-letter" text-anchor="middle">{{gameService.model.centerChar | uppercase}}</text>
          </a>
          <a routerLink="" (click)="addLetter(inputWord, gameService.model.chars[0]);" class="letter-button">
            <polygon fill="#ededed" points="0,95.57 24,54 72,54 96,95.57
              72,137.14 24,137.14" stroke="none"/>
            <text x="50" y="110" class="game-letter" text-anchor="middle">{{gameService.model.chars[0] | uppercase}}</text>
          </a>
          <a routerLink="" (click)="addLetter(inputWord, gameService.model.chars[1])" class="letter-button">
            <polygon fill="#ededed" points="76.88,51.02 100.88,9.44 148.88,9.44 172.88,51.02 148.88,92.58
              100.88,92.58" stroke="none"/>
            <text x="126" y="66" class="game-letter" text-anchor="middle">{{gameService.model.chars[1] | uppercase}}</text>
          </a>
          <a routerLink="" (click)="addLetter(inputWord, gameService.model.chars[2])" class="letter-button">
            <polygon fill="#ededed" points="153.28,95.57 177.28,54 225.28,54 249.28,95.57 225.28,137.14
              177.28,137.14" stroke="none"/>
            <text x="202" y="110" class="game-letter" text-anchor="middle">{{gameService.model.chars[2] | uppercase}}</text>
          </a>
          <a routerLink="" (click)="addLetter(inputWord, gameService.model.chars[3])" class="letter-button">
            <polygon fill="#ededed" points="153.28,183.33 177.28,141.76 225.28,141.76 249.28,183.33 225.28,224.9
              177.28,224.9" stroke="none"/>
            <text x="202" y="197" class="game-letter" text-anchor="middle">{{gameService.model.chars[3] | uppercase}}</text>
          </a>
          <a routerLink="" (click)="addLetter(inputWord, gameService.model.chars[4])" class="letter-button">
            <polygon fill="#ededed" points="76.88,227.53 100.88,185.96 148.88,185.96 172.88,227.53
              148.88,269.1 100.88,269.1" stroke="none"/>
            <text x="126" y="240" class="game-letter" text-anchor="middle">{{gameService.model.chars[4] | uppercase}}</text>
          </a>
          <a routerLink="" (click)="addLetter(inputWord, gameService.model.chars[5])" class="letter-button">
            <polygon fill="#ededed" points="0.0,183.33 24,141.76 72,141.76 96,183.33 72,224.9 24,224.9"
                     stroke="none"/>
            <text x="50" y="197" class="game-letter" text-anchor="middle">{{gameService.model.chars[5] | uppercase}}</text>
          </a>
        </svg>
      </div>
    </div>
    <div class="row justify-content-center ms-3 me-3">
      <div class="row">
          <button type="button" class="col btn btn-outline-secondary me-2" (click)="inputWord.value = inputWord.value.slice(0, -1)">Delete</button>
          <button type="button" class="col-auto btn btn-outline-secondary me-2" (click)="shuffle()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
              <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
              <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
            </svg>
          </button>
          <button type="submit" class="col btn btn-outline-secondary">Enter</button>
      </div>
      <div class="row  gy-1">
          <button type="button" class="col btn btn-outline-success" (click)="share()">
            <span class="pe-2">Share</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
              <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
            </svg>
          </button>
      </div>
    </div>
  </form>
  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</div>

<div class="modal fade" id="yesterdayAnswers" tabindex="-1" aria-labelledby="yesterdayAnswersLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="yesterdayAnswersLabel">Yesterday answers</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row row-cols-2">
            <div *ngFor="let answer of gameService.yesterdayAnswers" class="col">{{answer}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="statsDialog" tabindex="-1" aria-labelledby="statsDialogLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="statsDialogLabel">Statistics</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="howToPlayDialog" tabindex="-1" aria-labelledby="howToPlayDialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="howToPlayDialogLabel">How to play</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <h4>Create words using letters from the hive.</h4>
          <ul>
            <li>Words must contain at least 4 letters</li>
            <li>Words must include the center letter.</li>
            <li>Words that are obscure, hyphenated, or proper nouns are not included.</li>
            <li>No cussing either, sorry</li>
            <li>Letters can be used more than once.</li>
          </ul>
          <h5>Score points to increase your rating.</h5>
          <ul>
            <li>4-letter words are worth 1 point each.</li>
            <li>Longer words earn 1 point per letter.</li>
            <li>Each puzzle includes at least one "pangram" which uses every letter. These are worth 7 extra points!</li>
          </ul>
          <div>
            New puzzles are released daily at midnight GMT.
          </div>
          <div>
            Think I missed a word or have any feedback? Email me at <a href="mailto:ekamaloff@gmail.com">ekamaloff@gmail.com</a>.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="rankingsDialog" tabindex="-1" aria-labelledby="rankingsDialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rankingsDialogLabel">Rankings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div>
            Ranks are based on a percentage of possible points in a puzzle.<br>
            The minimum scores to reach each rank for today's are:
          </div>
          <hr>
          <div>
            <strong>Beginner</strong> (0)<br>
            <strong>Good Start</strong> (6)<br>
            <strong>Moving Up</strong> (14)<br>
            <strong>Good</strong> (23)<br>
            <strong>Solid</strong> (42)<br>
            <strong>Nice</strong> (71)<br>
            <strong>Great</strong> (113)<br>
            <strong>Amazing</strong> (141)<br>
            <strong>Genius</strong> (197)
          </div>
          <hr>
          <div>
            Think I missed a word or have any feedback? Email me at <a href="mailto:ekamaloff@gmail.com">ekamaloff@gmail.com</a>.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
